@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  font-family: 'montserrat',sans-serif;
  position: relative;
  width: 1440px;
  height:1024px;
}
.imgLogo{
  position: absolute;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
}
button{
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  border-radius: 24px;
  font-family: 'Inter';
  text-align: center;
  font-size: 16px;
  position: absolute;
}
.btn-comecar{
  width: 317px;
  height: 105px;
  left: 562px;
  top: 128px;
  background: #0A3871;
  color: #FFFFFF;
}
.btn-palavra{
  width: 317px;
  height: 105px;
  left: 562px;
  top: 294px;
  background: #FFFFFF;
  color: #0A3871;
}

footer{
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  text-align: center;
  position: relative;
  top: 500px;
}
footer img {
  width: 50px;
  position: static;
  align-items: flex-start;
}
/*Tela de cadastro*/
.texto-palavra{
  position: absolute;
  width: 413px;
  height: 48px;
  left: 376px;
  top: 256px;
  border: none;
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
}
.aviso{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 150px;
  height: 18px;
  left: 376px;
  top: 400px;
}
.btn-padrao1{
  width: 317px;
  height: 67px;
  left: 376px;
  top: 451px;
  background: #0A3871;
  color: #FFFFFF;
}
.btn-padrao2{
  width: 317px;
  height: 67px;
  left: 716px;
  top: 451px;
  background: #FFFFFF;
  color: #0A3871;
}
@media screen and (max-width: 992px) {
  
}